body {
  background: linear-gradient(135deg, #e8eff1 0%, #cfd9df 50%, #b8c6db 100%);
  transition: background-color 0.5s;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s; 
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.todo-container h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 20px 0;
  color: #4a4e69; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-container input[type="text"],
.todo-container input[type="date"] {
  width: 90%; 
  padding: 12px;
  border: 2px solid #7f53ac;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.todo-container .items-container {
  width: 80%;
  max-width: 600px;
}

.todo-container .items-container .container {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.todo-container .items-container .container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.todo-container .items-container .row {
  display: flex;
  align-items: center;
}

.todo-container .items-container .col-6 {
  flex: 1;
}

.todo-container .items-container .col-2 {
  text-align: right;
}

.todo-container .items-container button {
  padding: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #7f53ac; 
  color: #fff; 
}

.todo-container .items-container button:hover {
  background-color: #ff6464; 
  transform: scale(1.1); 
}

.todo-container .items-container button svg {
  font-size: 20px;
}

.todo-container .welcome {
  font-size: 30px;
  margin-top: 50px;
  font-weight: 600;
  color: #4a4e69; 
}

.themeSelector {
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    display: flex;
    align-items: center;
}
.themeSelector-text {
  margin-right: 10px; 
}
  
    
